<div id="filters" class="pin-page-content-section">
  <h3 class="pin-content-title">Filtrar</h3>
  <hr />
  <%= form_tag '/busca' do %>
    <div class="input-group">
      <input type="text" name="pesquisa" class="form-control" placeholder="Estou procurando por..." value="<%= params[:pesquisa] %>">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Ok</button>
      </span>
    </div>
  <% end %>
  <hr>

  <div class="filter-districts">
    <h3 class="pin-content-title">Bairros
      <span class="pull-right">x limpar</span>
    </h3><hr />
    <% aggregations_for(@services.aggs, "district_id").each do |id, value| %>
      <% cache "district-facet-#{id}" do %>
        <label>
          <input type="checkbox" class="facet-district" name="district_id" value="<%= id %>" /> 
          <%= find_district(id) %>
        </label><br />
      <% end %>
    <% end %>
  </div>

  <div class="filter-categories">
    <h3 class="pin-content-title">Categorias</h3><hr />
    <% aggregations_for(@services.aggs, "category_id").each do |id, value| %>
      <% cache "category-facet-#{id}" do %>
        <label>
          <input type="checkbox" class="facet-category" name="category_id" value="<%= id %>"  /> 
          <%= Category.find(id).try(:name) %>
        </label><br />
      <% end %>
    <% end %>
  </div>
</div>