<% title("Lojas & Serviços em Natal") %>

<%= link_to 'Anuncie', new_service_path, class: 'btn btn-success pull-right' %>
<div class="col-md-3 pull-right">
  <%= form_tag '/busca' do %>
  <div class="input-group">
    <input type="text" name="term" class="form-control" placeholder="Estou procurando por...">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button">Encontrar</button>
    </span>
  </div>
  <% end %>
</div>

<h1>Lojas & Serviços</h1>
<hr />

<%= @services.total_count %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>District</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.name, business_path(service) %></td>
        <td><%= service.category.name %></td>
        <td><%= service.district.name %></td>
        <td><%= service.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @services %>

<br>

