<% seo [
  { property: 'description', content: 'Catalogamos mais de 8 mil lojas e serviços em Natal para facilitar o seu dia a dia. Aqui tem o serviço que você procura.' },
] %>
<% title("Lojas & Serviços em Natal") %>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "http://pinou.com.br/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://pinou.com.br/lojas-e-servicos?pesquisa={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

<div class="row">
  <div class="pin-section-headings">
    <h1>Encontre aqui o produto ou serviço que você procura</h1>
    <hr />
    <div class="col-md-6 col-md-offset-3">
      <%= form_tag '/busca' do %>
        <div class="input-group">
          <input type="text" name="pesquisa" class="form-control input-lg" placeholder="Estou procurando por..." value="<%= params[:pesquisa] %>">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-lg" type="button">Encontrar</button>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="col-fluid">
      <ul>
        <% @services.each do |service| %>
         <li class="business-card">
            <div class="pin-featured-items">
              <%= render partial: 'services/business_card', locals: { service: service } %>
            </div>
          </li>
        <% end %>
      </ul>

      <% if @services.empty? %>
        <p>Nenhuma loja encontrada. <a href="/anuncie">Cadastre</a> ou tente buscar por outro termo.</p>
      <% end %>
    </div>

    <%= paginate @services %>
  </div>
  
  <div class="col-md-3" id="sidebar">
    <%= render 'services/filters' if params[:pesquisa] %>

    <div class="ad">
      <!-- Pinou_Service_003 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9856374304140488"
           data-ad-slot="9342131085"
           data-ad-format="auto"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>

    <%= link_to 'Anuncie', new_service_path, class: 'btn btn-primary btn-lg btn-block' %>

    <div class="ad">
      <!-- Pinou_Service_001 -->
      <ins class="adsbygoogle"
        style="display:inline-block;width:300px;height:250px"
        data-ad-client="ca-pub-9856374304140488"
        data-ad-slot="8761878287"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
    
    <div class="ad">
      <!-- Pinou_Service_002 -->
      <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-9856374304140488"
         data-ad-slot="1238611483"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>

    <div class="ad">
      <!-- Pinou_Service_004 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9856374304140488"
           data-ad-slot="1818864282"
           data-ad-format="auto"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>

    <div class="ad">
      <!-- Pinou_Service_005 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9856374304140488"
           data-ad-slot="3295597486"
           data-ad-format="auto"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>

  </div>
</div>

