<% seo [
  { property: 'description', content: @service.description || "Encontramos #{@service.name} em Natal. Onde encontrar #{@service.category.name} em #{@service.district.name}, Natal? São mais de 8 mil lojas e serviços em Natal para facilitar o seu dia a dia." },
  { property: "og:image", content: @service.logo.try(:url) || "placeholder-standard.png" },
  { property: 'og:title', content: "#{@service.name} no Pinou", type: 'property' },
  { property: 'og:image', content: image_url('logos/symbol-holoteca.png'), type: 'property' },
  { property: 'og:description', content: @service.description, type: 'property' },
  { property: 'twitter:title', content: "#{@service.name} no Pinou @pinounegocios" },
  { property: 'twitter:description', content: @service.description },
  { property: 'twitter:image:src', content: @service.logo.try(:url) || "placeholder-standard.png" }
] %>
<% title(@service.name) %>

<script type="application/ld+json">
  {
   "@context": "http://schema.org",
   "@type": "BreadcrumbList",
   "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "http://pinou.com.br/",
        "name": "Início"
      }
    }, {
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "http://pinou.com.br/natal-rn",
        "name": "Bairros & Distritos"
      }
    }, {
      "@type": "ListItem",
      "position": 3,
      "item": {
        "@id": "<%= url(district_path(@service.district)) %>",
        "name": "<%= @service.district.name %>"
      }
    }, {
      "@type": "ListItem",
      "position": 4,
      "item": {
        "@id": "<%= url(category_path(@service.category)) %>",
        "name": "<%= @service.category.name %>"
      }
    }, {
      "@type": "ListItem",
      "position": 5,
      "item": {
        "@id": "<%= url(business_path(@service)) %>",
        "name": "<%= @service.name %>"
      }
    }]
  }
</script>

<% content_for :subhead do %>
  <div id="subhead" class="dark">
    <div class="container">
      <ol class="pin-breadcrumbs col-sm-12">
        <li><%= link_to "Início", root_path, title: "Página Inicial do Pinou", "data-turbolinks" => "false"  %> <i class="glyphicon glyphicon-menu-right"></i></li>
        <li><%= link_to "Bairros & Distritos", districts_path, title: "Todos os Bairros" %> <i class="glyphicon glyphicon-menu-right"></i></li>
        <li><%= link_to @service.district.name, district_path(@service.district) %> <i class="glyphicon glyphicon-menu-right"></i></li>
        <li><%= link_to @service.category.name, category_path(@service.category) %> <i class="glyphicon glyphicon-menu-right"></i></li>
        <li><b><%= @service.name %></b></li>
      </ol>
    </div>
  </div>
<% end %>

<% cache "#{@service.id}-page" do %>
<div class="row">
  <div class="pin-service-info-section col-md-9 col-sm-12">
    <div class="pin-service-contact-wrapper">
      <div class="pin-service-info-wrapper">
        <div class="pin-service-img-wrapper">
          <% if @service.logo.try(:url) %>
            <%= image_tag @service.logo.url(:medium), alt: @service.name, class: "pin-lazy", title: "#{@service.name} Logo"%>
          <% else %>
            <%= image_tag "placeholder-standard.png", alt: @service.name, class: "pin-lazy", title: "#{@service.name} no Pinou" %>
          <% end %>
        </div>

        <div class="pin-service-infos">
          <ul>
            <li class="visible-xs">
              <i class="fa fa-angle-double-right"></i>
              <b><%= @service.name %></b>
            </li>
            <li>
              <i class="fa fa-phone"></i>
              <b><%= link_to @service.phone, "tel:#{numbers_only(@service.phone)}", title: "#{@service.name} Telefone", target: "_blank" %></b>
            </li>
            <li class="fullh"><i class="fa fa-map-marker"></i><%= @service.address %> - <%= link_to @service.district.fullpath, district_path(@service.district), title: @service.district.name, title: "Endereço do #{@service.name}" %></li>

            <li class="fullh visible-xs">
              <p><%= @service.description || "<em>#{@service.name}</em> também está no Pinou. Cadastre-se e #{link_to('anuncie o seu negócio', new_service_path, title: 'Anuncie no Pinou')} para fazer parte do maior portal de negócios de Natal.".html_safe %></p>
            </li>
            
            <% unless @service.email.blank? %>
              <li><i class="fa fa-envelope-o"></i>
                <%= link_to @service.email, "mailto:#{@service.email}", title: "#{@service.name} Email" %>
              </li>
            <% end %>

            <% unless @service.web.blank? %>
              <li><i class="fa fa-globe"></i><%= link_to @service.web, @service.web, title: "#{@service.name} website", target: "_blank" %></li>
            <% end %>
            
            <% if @service.facebook || @service.instagram %>
              <li class="pin-service-social-icons">
                <% unless @service.facebook.blank? %>
                  <%= link_to @service.facebook, title: "#{@service.name} Facebook", target: "_blank" do %>
                    <i class="fa fa-facebook"></i>
                    <%= @service.facebook %>
                  <% end %>
                <% end %>
                <% unless @service.instagram.blank? %>
                  <%= link_to @service.instagram, title: "#{@service.name} Instagram", target: "_blank" do %>
                    <i class="fa fa-instagram"></i>
                    <%= @service.instagram %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="pin-service-description hidden-xs">
        <div class="pin-service-details">
          <h1 class="pin-content-title"><%= @service.name %></h1>
          <div class="pin-service-name">
            <h3><%= link_to @service.category.name, category_path(@service.category), title: @service.category.name %></h3>
            <p>em <%= link_to @service.category.try(:parent).try(:name), category_path(@service.category.parent), title: @service.category.parent.name if @service.category.parent %></p>
          </div>

          <p><%= @service.description || "<em>#{@service.name}</em> também está no Pinou. Cadastre-se e #{link_to('anuncie o seu negócio', new_service_path, title: 'Anuncie no Pinou')} para fazer parte do maior portal de negócios de Natal.".html_safe %></p>
        </div>
       
        <ul class="pin-rate">
          <li>Avalie esta empresa:</li>
          <li>
            <%= link_to like_path(@service), remote: true, method: :post, class: "cbutton cbutton--effect-ivana is-pin-like" do %>
              <i class="cbutton__icon fa fa-fw fa-thumbs-o-up"></i>
              <span class="cbutton__text">Gostei</span>
            <% end %>
          </li>
          <li>
            <%= link_to dislike_path(@service), remote: true, method: :post, class: "cbutton cbutton--effect-ivana is-pin-dislike" do %>
              <i class="cbutton__icon fa fa-fw fa-thumbs-o-down"></i>
              <span class="cbutton__text">Não gostei</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <div class="pin-page-contents-wrapper pin-location-map-wrapper">
      <!-- <p>mapa vai aqui</p> -->
      <div class="pin-location-map">
        <div id="pin-map-small"></div>
      </div>
    </div>

    <div class="ad">
      <!-- Pinou_Business_Page_Botton -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-9856374304140488"
           data-ad-slot="2715344685"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>

    <div class="row pin-fb-comments">
      <div class="fb-comments" data-href="<%= business_url(@service) %>" data-width="100%" data-numposts="5"></div>
    </div>
  </div>

  <div class="col-md-3 no-padding">
    <div class="ad no-mt">
      <!-- Pinou_Business_Page_Sidebar_001 -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:300px;height:250px"
           data-ad-client="ca-pub-9856374304140488"
           data-ad-slot="4192077884"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>

    <div>
      <p class="info">Encontrou algum problema com este anúncio?</p>
      <%= button_tag "Reportar Problema", class: "btn btn-danger btn-lg btn-block", data: { toggle: "modal", target: "#report-error" } %>
    </div>

    <div class="ad">
      <!-- Pinou_Business_Page_Sidebar_002 -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:300px;height:250px"
           data-ad-client="ca-pub-9856374304140488"
           data-ad-slot="5668811081"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>

    <div class="ad">
      <!-- Pinou_Business_Page_Sidebar_003 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9856374304140488"
           data-ad-slot="5843607881"
           data-ad-format="auto"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>

    <div class="pin-sidebar-widget pin-overview-widget">
      <!-- <div class="pin-overview-wrapper">
      </div> -->
    </div>
  </div>
</div>

<%= render 'review' %>
<%= render 'report_error' %>

<% end %>