<% seo [
  { property: 'description', content: @service.description || 'Catalogamos mais de 8 mil serviços em Natal para facilitar o seu dia a dia. Aqui tem o serviço que você procura.' },
] %>
<% title(@service.name) %>

<div class="row">
  <div class="pin-breadcrumbs col-sm-12">
    <h1>
      <%= link_to "Início", root_path, title: "Pinou Home Page", "data-turbolinks" => "false"  %> <i class="glyphicon glyphicon-menu-right"></i>
      <%= link_to @service.district.name, district_path(@service.district) %> <i class="glyphicon glyphicon-menu-right"></i>
      <%= link_to @service.category.name, category_path(@service.category) %> <i class="glyphicon glyphicon-menu-right"></i>
      <b><%= @service.name %></b>
    </h1>
  </div>
</div>

<div class="row">
  <div class="pin-service-info-section col-md-9 col-sm-9 col-xs-12">
    <div class="pin-service-contact-wrapper">
      <div class="pin-service-info-wrapper">
        <div class="pin-service-img-wrapper">
          <% if @service.logo.try(:url) %>
            <%= image_tag @service.logo.url(:medium), alt: @service.name, class: "pin-lazy" %>
          <% else %>
            <%= image_tag "placeholder-standard.jpg", alt: @service.name, class: "pin-lazy" %>
          <% end %>
        </div>

        <div class="pin-service-infos">
          <ul>
            <li><i class="fa fa-phone"></i><b><%= @service.phone %></b></li>
            <li class="address"><i class="fa fa-map-marker"></i><%= @service.address %> - <%= link_to @service.district.fullpath, district_path(@service.district), title: @service.district.name %></li>
            <li><i class="fa fa-envelope-o"></i><%= @service.email || "Não informado" %></li>
            <li><i class="fa fa-globe"></i><%= @service.web || "Não informado" %></li>
            <li class="pin-service-social-icons">
              <%= link_to @service.facebook do %>
                <i class="fa fa-facebook"></i>
              <% end %>
              <%= link_to @service.instagram do %>
                <i class="fa fa-instagram"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <div class="pin-service-description">
        <div class="pin-service-details">
          <h1 class="pin-content-title"><%= @service.name %></h1>
          <div class="pin-service-name">
           <h3><%= link_to @service.category.name, category_path(@service.category), title: @service.category.name %></h3>
              <p>em <%= link_to @service.category.try(:parent).try(:name), category_path(@service.category.parent), title: @service.category.parent.name if @service.category.parent %></p>
          </div>

          <p><%= @service.description || "On the other hand, we denounce with righteous ation and dislike men who beguiled and demora pleasure have some" %></p>

        </div>
       
        <div class="pin-rate">
          <a class="pin-add-wishlist">
            <i class="fa fa-thumbs-o-up"></i>
          </a>

           <a class="pin-add-wishlist">
            <i class="fa fa-thumbs-o-down"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="pin-page-contents-wrapper pin-location-map-wrapper appear fadeIn" data-wow-duration=".5s" data-wow-delay=".3s">
      <p>mapa vai aqui</p>
      <div class="pin-location-map">
        <div id="pin-map-small"></div>
      </div>
    </div>

    <div class="pin-fb-comments">
      <div class="fb-comments" data-href="<%= business_url(@service) %>" data-width="100%" data-numposts="5"></div>
    </div>

  </div>

  <div class="col-md-3 no-padding">
    <div class="pin-sidebar-widget pin-overview-widget">
      <div class="pin-overview-wrapper">
        Anuncie, reportar erro, classficar, reviews, anunciso
      </div>
    </div>
  </div>
</div>

