<% seo [
  { property: 'description', content: @service.description || 'Catalogamos mais de 8 mil serviços em Natal para facilitar o seu dia a dia. Aqui tem o serviço que você procura.' },
] %>
<% title(@service.name) %>

<div class="row">
  <div class="pin-breadcrumbs col-sm-12">
    <h1>
      <%= link_to "Início", root_path, title: "Pinou Home Page" %> <i class="glyphicon glyphicon-menu-right"></i>
      <%= link_to @service.district.name, district_path(@service.district) %> <i class="glyphicon glyphicon-menu-right"></i>
      <%= link_to @service.category.name, category_path(@service.category) %> <i class="glyphicon glyphicon-menu-right"></i>
      <b><%= @service.name %></b>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-9">

    <% if @service.logo.url %>
      <%= image_tag @service.logo.url(:medium) %>
    <% end %>

    <h1><%= @service.name %> </h1>

    <p>
      <strong>User:</strong>
      <%= @service.user.try(:name) %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @service.category.name %>
    </p>

    <p>
      <strong>District:</strong>
      <%= @service.district.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @service.description %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @service.phone %>
    </p>

    <p>
      <strong>Web:</strong>
      <%= @service.web %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @service.email %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @service.address %>
    </p>

    <p>
      <strong>Facebook:</strong>
      <%= @service.facebook %>
    </p>

    <p>
      <strong>Instagram:</strong>
      <%= @service.instagram %>
    </p>

    <p>
      <strong>Opens:</strong>
      <%= @service.opens %>
    </p>

    <p>
      <strong>Closes:</strong>
      <%= @service.closes %>
    </p>

    <p>
      <strong>Zipcode:</strong>
      <%= @service.zipcode %>
    </p>

    <%= link_to 'Back', services_path %>
  </div>

  <div class="col-md-3">
    
  </div>
</div>

