<div class="pageheader">
  <h1>Chamados do Suporte</h1>
</div>

<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>PIN</th>
                <th>Motivo</th>
                <th>Status</th>
                <th>Data</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @issues.each do |issue| %>
                <tr>
                  <td><%= link_to issue.code, admin_issue_path(issue) %></td>
                  <td><%= Issue::REASONS[issue.reason.to_sym] %></td>
                  <td><%= Issue::STATUSES[issue.status.to_sym] %></td>
                  <td><%= issue.created_at.strftime('%d/%m/%Y') %></td>
                  <td><%= link_to 'Editar', edit_admin_issue_path(issue), class: 'btn btn-primary btn-xs' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
