<div class="pageheader">
  <h1>Negócios</h1>
</div>

<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Bairro</th>
                <th>Criado em</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @services.each do |service| %>
                <tr class="<%= service_class_for service %>">
                  <td>
                    <% if service.is_publicable? %>
                      <i class="fa fa-coffee"></i>
                    <% end %>

                    <% if service.banned? || service.deleted? %>
                      <i class="fa fa-times"></i>
                    <% end %>
                    <%= link_to service.name, admin_service_path(service) %>
                  </td>
                  <td><%= service.category.name %></td>
                  <td><%= service.district.name %></td>
                  <td><%= service.created_at.strftime('%d/%m/%Y') %></td>
                  <td>
                    <%= link_to 'Ver', admin_service_path(service), class: 'btn btn-info btn-xs' %>
                    <%= link_to 'Editar', edit_admin_service_path(service), class: 'btn btn-primary btn-xs' %>
                    </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= paginate @services %>
        </div>
      </div>
    </div>
  </div>
</section>

