<h2>Edite Seus Dados</h2>

<%= form_for(current_user, as: 'user', url: registration_path('user'), html: { method: :put }) do |f| %>

  <div class="form-group">
    <%= f.label :name, "Nome" %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, disabled: true, class: "form-control" %>
  </div>

  <% if current_user.pending_reconfirmation? %>
    <div>Conta não verificada: <%= current_user.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password, "Senha" %> <i>(deixe em branco se não quiser atualizar)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirmação de Senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, "Senha atual" %> <i>(nós precisamos da sua senha para confirmar as alterações)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar Dados", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>

<h4>Aqui há dragões...</h4>
<p>Não gostou da gente? ok ok, acontece. :( <%= link_to "Cancele sua conta", registration_path('user'), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-sm" %></p>
