<footer>
  <!-- FOOTER TOP -->
  <div class="pin-footer-top-wrapper">
    <div class="container">
      <div class="row">
        <!-- FOOTER WIDGET -->
        <div class="pin-footer-widget pin-footer-logo pin-footer-fixed-widget hidden-sm col-sm-3">
          <%= link_to root_path, class: "pin-sym", title: "Pinou, Portal de Negócios" do %>
            <%= image_tag "pinou-footer.png", alt: "Pinou" %>
          <% end %>
        </div>
        <!-- END -->

        <!-- FOOTER WIDGET -->
        <div class="pin-footer-widget pin-contact-info col-sm-12">
          <h3 class="pin-footer-widget-title">Encontre em Contato</h3>

          <div class="pin-footer-widget-content">
            <ul>
              <li><i class="fa fa-map-marker"></i>Natal, RN, Brasil</li>
              <li><i class="fa fa-phone"></i>(84) 3322-1272</li>
              <li><i class="fa fa-whatsapp"></i>(84) 99634-1151</li>
              <li><i class="fa fa-envelope-o"></i>contato@pinou.com.br</li>
              <li><i class="fa fa-globe"></i>www.pinou.com.br</li>
            </ul>
          </div>
        </div>
        <!-- END -->

        <!-- FOOTER WIDGET -->
        <div class="pin-footer-widget pin-useful-links col-sm-12">
          <h3 class="pin-footer-widget-title">Pinou</h3>

          <div class="pin-footer-widget-content">
            <ul>
              <li><%= link_to "Início", root_path, "data-turbolins" => "false", title: "Página Inicial do Pinou" %></li>
              <li><%= link_to "Perguntas Frequentes", faq_path, title: "Perguntas Frequentes no Pinou" %></li>
              <li><%= link_to "Termos de Uso", terms_path, title: "Termos de Uso do Pinou" %></li>
              <li><%= link_to "Políticas de Privicidade", politics_path, title: "Políticas de Privacidade no Pinou" %></li>
              <li><%= link_to "Contato", contact_path, title: "Entre em contato com a equipe do Pinou" %></li>
            </ul>
          </div>
        </div>
        <!-- END -->

        <!-- FOOTER WIDGET -->
        <div class="pin-footer-widget pin-useful-links pin-subscribe-widget col-sm-12">
          <h3 class="pin-footer-widget-title">Anuncie no Pinou</h3>

          <div class="pin-footer-widget-content">
            <ul>
              <li><%= link_to "Lojas & Serviços", all_services_path, title: "Lojas e Serviços em Natal/RN" %></li>
              <li><%= link_to "Todos os Bairros", districts_path, title: "Bairros de Natal/RN" %></li>
              <li><%= link_to "Todas as Categorias", categories_path, title: "Catálogo de Profissionais, Serviços, Lojas e Produtos" %></li>
              <% if user_signed_in? %>
                <li><%= link_to "Painel", account_path, title: "Painel de Negócios" %></li>
              <% else %>
                <li><%= link_to "Cadastre-se", new_registration_path('user'), title: "Cadastre-se no Pinou" %></li>
              <% end %>
            </ul>
            <br />
            <p>Seja encontrado facilmente na web. É rápido e gratuíto.</p>

            <a href="/anuncie" class="pin-btn">Anuncie agora mesmo</a>
          </div>
        </div>
        <!-- END -->
      </div>
    </div>
  </div>
  <!-- END -->

  <!-- FOOTER BOTTOM -->
  <div class="pin-footer-bottom-wrapper">
    <div class="container">
      <div class="row">
        <!-- COPYRIGHT INFO -->
        <div class="pin-copyright-info-wrapper">
          <p>Copyright &copy; 2016 Pinou. All rights reserved</p>
        </div>
        <!-- COPYRIGHT INFO -->

        <div class="pin-social-info-wrapper">
          <ul>
            <li>
                <div class="fb-like" data-share="true" data-width="450" data-show-faces="false"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END -->
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2347706-30', 'auto');
  ga('send', 'pageview');
</script>