<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <i class="fa fa-align-right" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand pinou-logo" href="/"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Início", root_path, "data-turbolinks" => "false", title: "Página Inicial do Pinou" %></li>
        <li><%= link_to "Lojas & Serviços", all_services_path, title: "Lojas e Serviços em Natal/RN" %></li>
        <li><%= link_to "Bairros", districts_path, title: "Todos os bairros de Natal/RN" %></li>
        <li><%= link_to "Explore", categories_path, title: "Todas as categorias" %></li>
        <li class="cta"><%= link_to "Anuncie seu <span>negócio</span>".html_safe, new_service_path, title: "Anuncie no Pinou" %></li>
        <% if user_signed_in? %>
          <li>
            <%#= link_to "Sair", destroy_user_session_path, method: :delete %>
            <%= link_to "Painel", account_path, title: "Painel de Negócios" %>
          </li>
        <% else %>
          <li class="pin-lb-wrp">
            <button class="pin-profile-icon" id="pin-side-menu-btn"></button>
          </li>
        <% end %>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>