<% cache 'categories-groups', expires_in: 1.week do %>
  <div class="categories" id="categories">
    <ul class="nav nav-tabs" role="tablist">
      <li><h4 class="subtitle">Explore Natal</h4></li>
      <% categories.each do |alpha, categories| %>
        <li role="presentation">
          <a href="#<%= alpha %>" aria-controls="<%= alpha %>" role="tab" data-toggle="tab"><%= alpha %></a>
        </li>
      <% end %>
    </ul>
    
    <div class="tab-content">
      <% categories.each do |alpha, categories| %>
        <div role="tabpanel" class="tab-pane" id="<%= alpha %>">
          <ul class="list">
            <% categories.each do |record| %>
              <li>
                <% cache "cat-btn-#{record.id}" do %>
                  <%= link_to category_path(record), class: 'btn btn-clear' do %>
                    <%= record.name %><span class="badge"><%= record.services_total %></span>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
