<% title(@category.name) %>
<% seo [
  { property: 'description', content: 'Catalogamos mais de 8 mil lojas e serviços em Natal para facilitar o seu dia a dia. Aqui tem o serviço que você procura.' },
] %>

<div class="row">
  <div class="pin-breadcrumbs col-sm-12">
    <h1>
      <%= link_to "Início", root_path, title: "Pinou Home Page" %> 
      <i class="glyphicon glyphicon-menu-right"></i> <%= link_to "Catálogo", categories_path, title: "Todas as Categorias" %> <i class="glyphicon glyphicon-menu-right"></i>
      <%= "#{link_to(@category.parent.name, category_path(@category.parent))} <i class='glyphicon glyphicon-menu-right'></i>".html_safe if @category.parent %> <b><%= @category.name %></b>
    </h1>
  </div>
</div>

<div class="content" id="categories">
  <div class="row">
    <div class="col-md-9">
      <% if @services %>
        <div class="col-fluid">
          <ul>
            <% @services.each do |service| %>
              <li class="business-card">
                <div class="pin-featured-items">
                  <%= render partial: 'services/business-card', locals: { service: service } %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="col-md-3" id="sidebar">
      <ul class="cat-link">
        <% @category.children.active.each do |record| %>
          <% cache "cat-btn-#{record.id}" do %>
            <li>
            <%= link_to category_path(record), class: 'btn btn-default', title: record.name do %>
              <%= record.name %><span class="badge"><%= record.services_count %></span>
            <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

  </div>
</div>