<div class="content" id="categories">
  <div class="row">
    <div class="col-md-12">
      <h4>
        <%= "#{link_to(@category.parent.name, category_path(@category.parent))} >>".html_safe if @category.parent %> 
        <%= @category.name %>
      </h4><hr />
      <ul>
        <% @category.services.each do |record| %>
          <li>
            <%= link_to record.name, business_path(record) %>, 
            <%= link_to record.district.name, district_path(record.district) %>
          </li>
        <% end %>
      </ul>
    </div>

    <hr />

    <div class="col-md-12 text-center">
      <% @category.children.active.each do |record| %>
        <div class="cat-link">
          <% cache "cat-btn-#{record.id}" do %>
            <%= link_to category_path(record), class: 'btn btn-clear' do %>
              <%= record.name %><span class="badge"><%= record.services_count %></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>