<% if @category
    title("#{@category.name} em #{@district.name}") 
  else
    title(@district.name) 
  end %>

  <div class="row">
    <div class="col-md-9">
      <h2>
        <%= link_to @district.name, district_path(@district) %> 
        <%= " >> #{link_to @category.name, category_path(@category)}".html_safe if @category %>
        <span class="badge">
          <%= aggregations_for(@services.aggs, "district_id", @district.id) %>
        </span>
      </h2>
  
      <div class="row col-business">
        <ul>
          <% @services.each do |service| %>
            <%= render partial: 'services/business-card', locals: { service: service } %>
          <% end %>
        </ul>
      </div>

      <%= paginate @services %>
    </div>
    
    <div class="col-md-3"></div>
  </div>
