<% seo [
  { property: 'description', content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, consequuntur?' },
] %>

<% cache "jumbo" do %>
<div id="home">
  <div class="fluid">
    <div id="flyer"> 
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1 class="title">Communicating shouldn’t be this hard.</h1>
            <h3 class="subtitle">Introducing a new suite of iOS apps designed to capture,
              showcase, and track your brightest ideas.
            </h3>
          </div>
        </div>
      </div>
    </div>
   
    <div id="search-bar" class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-2">
          <h3 class="term">
            Faça uma <span>Busca</span>
          </h3>
        </div>
        <div class="col-md-10 no-padding">
        <%= form_tag '/busca' do %>
          <div class="input-group">
            <input type="text" name="pesquisa" class="form-control search-input input-lg" placeholder="Estou procurando por...">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-lg" type="button">Encontrar</button>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <section class="districts">
    <div class="container">
      <div class="row">
        <h3>Temos + <%= Service.active.size %> lojas e serviços catalogados em Natal</h3>
        <div class="col-md-4">
          <h3>
            <strong>Natal está sendo catalogada.</strong> Adicione o seu negócio no NZEN, o maior portal de lojas e serviços de Natal. É rápido e gratuíto.
          </h3>
          <%= link_to "Divulgue seu Negócio", new_service_path, class: "btn btn-clear btn-lg" %>
        </div>

        <div class="col-md-4 text-center hidden-xs">
          <%= image_tag "natal/bairros.jpg" %>
        </div>
        
        <div class="col-md-4">
          <h4>Anuncie</h4>
          <p>Para obter sucesso, seu negócio primeiro precisa ser encontrado. <strong>Busca Simplificada.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptatibus ratione laboriosam. </p>

          <h4>Páginas Exclusivas</h4>
          <p>Alguém pela cidade em busca dos seus serviços. Em breve, iremos lançar versões exclusivas de páginas para negócios, com mais destaque e mais visibilidade para o seu negócio. <a href="/">Entre em contato.</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="ad">
    <div class="container">
      <div class="row"></div>
    </div>
  </section>

  <section class="natal">
    <div class="overlay"></div>
    <div class="v-center">
      <div class="content">
        <h1 class="call">Explore Natal</h1>
      </div>
    </div>
  </section>

  <section id="slider">
    <div class="row un-slider">
      <ul>
        <li class="cellphone"></li>
        <li class="housewife"></li>
        <li class="grill"></li>
        <li class="bringlayer"></li>
        <li class="architecture"></li>
        <li class="piano"></li>
      </ul>
      <div class="caption">
        <h1>Preciso <br /><small><span class="typed"></span></small></h1>
      </div>
    </div>
  </section>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'categories', locals: { categories: @categories }, cached: true %>
    </div>
  </div>
</div>
<% end %>
