<% title("Perguntas Frequentes") %>
<% seo [
  { property: 'description', content: 'Perguntas Frequentes no Pinou. Catalogamos mais de 8 mil lojas e serviços em Natal para facilitar o seu dia a dia. Aqui tem o serviço que você procura.' },
] %>

<div class="row">
  <div class="pin-breadcrumbs col-sm-12">
    <h1>
      <%= link_to "Início", root_path, title: "Página Inicial do Pinou", "data-turbolinks" => "false"  %> 
      <i class="glyphicon glyphicon-menu-right"></i> 
      <b>Perguntas Frequentes</b>
    </h1>
  </div>
</div>

<div class="content" id="statics">
  <div class="row">
    <div class="col-sm-9">

      <div class="ad">
        <!-- Pinou_Faq -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9856374304140488"
             data-ad-slot="8423801088"
             data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>

      <h1>Perguntas Frequentes</h1>

      <div id="accordion" role="tablist" aria-multiselectable="true">

        <div class="pin-question">
          <div class="heading" role="tab" id="headingOne">
            <h4>
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                O que é o Pinou?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <p>
              O Pinou é um serviço de divulgação online de negócios, serviços e produtos. Nossa ideia é ajudar no dia a dia de pessoas que estão procurando por profissionais ou produtos. Nós também queremos ajudar a pequenos e microempresários a captar mais clientes e assim alavancarem seus lucros.
            </p>
          </div>
        </div>

        <div class="pin-question">
          <div class="heading" role="tab" id="headingTwo">
            <h4>
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Tenho um negócio e quero anunciar no Pinou. Quanto custa?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <p>
              Nada. Absolutamente nada. Anunciar seu negócio no Pinou é gratuíto e leva menos de 5 minutos. <br />
              <%= link_to "Clique aqui", new_service_path %> para anunciar agora.</p>
          </div>
        </div>

        <div class="pin-question">
          <div class="heading" role="tab" id="headingThree">
            <h4>
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                O que eu preciso para cadastrar minha empresa?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <p>
              Nenhum documento é requerido. Você pode adicionar uma empresa <%= link_to "clicando aqui", new_service_path %> e preenchendo os campos de Nome, Categoria, Telefone, CEP, endereço, bairro e descrição. Se você estiver logado, você verá mais alguns campos, como email, site, redes sociais, horário de funcionamento e logomarca. 
            </p>
          </div>
        </div>
  
        <div class="pin-question">
          <div class="heading" role="tab" id="headingFour">
            <h4>
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                O que acontece após o cadastro de uma empresa?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <p>
              Assim que você envia o cadastro de um negócio, ele será submetido a moderação de contúdo e não irá entra no ar imediatamente. Nós iremos verificar as informações, e se tudo estiver ok, de acordo com o nosso <%= link_to "Termo de Uso", terms_path %> ele será publicado, ficando disponível para buscas. O prazo para moderação é de até 72 horas.
            </p>
          </div>
        </div>

        <div class="pin-question">
          <div class="heading" role="tab" id="headingFive">
            <h4>
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Só posso anunciar negócios em Natal?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <p>
              Por enquanto sim. Estamos trabalhando para ampliar a área de atuação do Pinou para todo RN e depois para o Brasil. Por enquanto, o Pinou apenas atende a cidade de Natal.<br />
              Você pode <%= link_to "entrar em contato", contact_path %>  com a gente a qualquer momento para tirar suas dúvidas. A gente iria adorar saber do seu interesse em anunciar no Pinou em sua cidade.</p>
          </div>
        </div>

        <div class="pin-question">
          <div class="heading" role="tab" id="headingSix">
            <h4>
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Meu negócio está no Pinou, mas eu não o cadastrei.
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <p>
              Qualquer pessoa pode adicionar anúncios de negócios no Pinou. Se você encontrou seu negócio isso é ótimo, significa que outras pessoas estão conseguindo encontrar também. <br />
              Se você deseja editar os dados da empresa, faça seu cadastro e vá para a página do seu negócio. Clique em "Reportar Problema" e selecione "Sou dono desta empresa". Nós iremos verificar algumas informações e entraremos em contato com você. <br />
              Você também poderá solicitar a remoção do negócio. Nós também iremos realizar um procedimento de validação dos dados fornecidos para isto.<br />
              A qualquer momento você poderá <%= link_to "entrar em contato", contact_path %> com o nosso suporte para tirar suas dúvidas.</p>
          </div>
        </div>

       <!--  <div class="pin-question">
          <div class="heading" role="tab" id="headingSeven">
            <h4>
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <p></p>
          </div>
        </div> -->
      </div>


    </div>
    <div class="col-sm-3"></div>
  </div>
</div>