<%= form_for([:admin,district]) do |f| %>
  <% if district.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(district.errors.count, "error") %> prohibited this district from being saved:</h2>

      <ul>
      <% district.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :city_id %>
  <%= f.select :city_id, City.active.collect{|city|[city.name, city.id]}, class: 'form-control' %>

  <div class="actions">
    <%= f.submit "Salvar", class: 'btn btn-default' %>
  </div>
<% end %>
