<p id="notice"><%= notice %></p>

<h1>Bairros</h1>
<%= link_to '+ Bairro', new_admin_district_path, class: 'btn btn-success pull-right' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Permalink</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= link_to district.name, [:admin,district] %></td>
        <td><%= district.permalink %></td>
        <td><%= link_to 'Edit', edit_admin_district_path(district) %></td>
        <td><%= link_to 'Destroy', [:admin,district], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
