<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @district.name %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @district.permalink %>
</p>

<%= link_to 'Edit', edit_admin_district_path(@district) %> |
<%= link_to 'Back', admin_districts_path %>
